<!DOCTYPE html>
<html lang="en-GB">
<head>

    <meta charset="utf-8"/>
    <title>{{title}}</title>

    <link rel="stylesheet" type="text/css" href="/style/main.css"/>

</head>
<body>

    {{{body}}}

    <script src="/script/main.js"></script>

</body>
</html>