
<h1>Hello {{thing}}!</h1>

<p>
    This is boilerplate code used to demonstrate an
    Express + CoffeeScript + Handlebars application.
</p>

<p>
    Please see
    <a href="https://github.com/rowanmanning/express-coffee-template">https://github.com/rowanmanning/express-coffee-template</a>
    for more information.
</p>